@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 212;
    color: #e8e872;
  }

  p {
    line-height: 24px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Alegreya', serif;
    font-weight: 592;
    letter-spacing: .162em;
    margin-bottom: 3px;
  }

  header {
   display: flex;
   height: 84px;
   justify-content: space-between;
   align-items: center;
   padding: 0 51px;
   border-bottom: 3px solid #e8e872;
   background-color: beige;
 }

   header nav {
     display: flex;
     gap: 44px;
     position: relative;
   }

   header a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 669;
  letter-spacing: 2.5px;
  color: #47052f;
  padding: 0 3px;
}

header nav .menuItem {
  overflow: hidden;
}

.colouredLine {
  display: flex;
  height: 4px;
  width: 100%;
  padding-top: 11px;
  margin-left: -100%;
  transition: all .4s;
}

.colouredLine span:first-of-type {
  width: 39%;
  height: 100%;
  background-color: #5a0d64;
}

.colouredLine span:last-of-type {
  width: 50%;
  height: 100%;
  background-color: #e8e872;
}

header nav .menuItem:hover .colouredLine {
  margin-left: 0;
}

header nav .menuItem.active .colouredLine {
  margin-left: 0 !important;
}

.subMenu {
  background-color: white;
  position: absolute;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
  padding: 27px 33px;
  top: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: all .21s;
  visibility: hidden;
  opacity: 0;
}

.subMenu p:hover {
  color: rgba(0,0,0,.95);
}

nav .menuItem.dropdown:hover .subMenu {
  top: 59px;
  visibility: visible;
  opacity: 1;
}

#bannerpage a {
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  letter-spacing: 7px;
  padding: 30px 60px;
  background-image: url(./images/bttnbg.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: auto 63px ;
  transition: all .2s;
}

section#bannerpage {
  background-image: url(./images/bnnr.jpeg);
  height: 110VH;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 39px;
}

#bannerpage h2 {
  font-size: 80px;
  color: black;
  letter-spacing: 14px;
}

#bannerpage p {
  color: black;
  font-size: 14px;
  width: 700px;
  text-align: center;
  line-height: 33px;
  font-style: italic;
    margin-bottom: 24px;
}


#bannerpage a:hover {
  background-position: 51% 48%;
}

#abt {
  width: 1331px;
  margin: 0 auto;
  padding: 124px 0;
  display: flex;
  gap: 110px;
}
#abt h2 {
  font-size: 23px;
  margin-top: 7px;
}

#abt h4 {
  font-size: 15px;
}
#abtContent {
  position: relative;
}

#abtContent:before {
  content: '';
  background-image: url(./svgs/vector1.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 350px -150px;
  z-index: -2;
}

#abtSub a div {
  letter-spacing: 4px;
  font-size: 2px;
}

#abtSub a div span {
  display: inline-block;
  width: 13px;
  height: 4px;
  transition: all .2s;
}

#abtSub {
  display: flex;
  gap: 21px;
  margin-top: 47px;
}

#abtSub p {
  color: black;
  margin-bottom: 46px;
}

#abtSub a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 3px;
  color: #5c303d;
  font-weight: 430;
}



#abtSub a div span:nth-child(1) {
  background-color: #ed4845;
  width: 2px;
}

#abtSub a div span:nth-child(2) {
  background-color: #ff934a;
}

#abtSub a div span:nth-child(3) {
  background-color: #3a58d6;
  margin-right: 12px;
}

#abtSub a:hover div span:nth-child(1) {
  width: 13px;
}
