@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&family=Lato:wght@300;400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 212;
    color: #e8e872;
  }

  p {
    line-height: 24px;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Alegreya', serif;
    font-weight: 592;
    letter-spacing: .162em;
    margin-bottom: 3px;
  }

  header {
   display: flex;
   height: 84px;
   justify-content: space-between;
   align-items: center;
   padding: 0 51px;
   border-bottom: 3px solid #e8e872;
   background-color: beige;
 }

   header nav {
     display: flex;
     gap: 44px;
     position: relative;
   }

   header a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12x;
  font-weight: 669;
  letter-spacing: 2.5px;
  color: #47052f;
  padding: 0 3px;
}

header nav .menuItem {
  overflow: hidden;
}

.colouredLine {
  display: flex;
  height: 3px;
  width: 100%;
  padding-top: 11px;
  margin-left: -100%;
  transition: all .4s;
}

.colouredLine span:first-of-type {
  width: 39%;
  height: 100%;
  background-color: #5a0d64;
}

.colouredLine span:last-of-type {
  width: 50%;
  height: 100%;
  background-color: #e8e872;
}

header nav .menuItem:hover .colouredLine {
  margin-left: 0;
}

header nav .menuItem.active .colouredLine {
  margin-left: 0 !important;
}

.subMenu {
  background-color: white;
  position: absolute;
  width: 100px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
  padding: 27px 30px;
  top: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  transition: all .2s;
  visibility: hidden;
  opacity: 0;
}

.subMenu p:hover {
  color: rgba(0,0,0,.85);
}

nav .menuItem.dropdown:hover .subMenu {
  top: 59px;
  visibility: visible;
  opacity: 1;
}
