@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700&family=Lato:wght@300;400;700&display=swap');

/* color pallete #243c54 dark
                 #74a8db medium
                 #b6d6d2 light */

                 body {
                   font-family: 'Lato', sans-serif;
                   font-weight: 250;
                   color: #243c54;
                 }

                 p {
                   line-height: 22px;
                 }

                 h1,h2,h3,h4,h5,h6 {
                   font-family: 'Alegreya', serif;
                   font-weight: 550;
                   letter-spacing: .165em;
                   margin-bottom: 16px;
                 }
 body {
     animation: transitionIn 2s
       }

 @keyframes transitionIn {
       from {
           opacity: 0;
           trasnform: translateY(-30px)
             }

       to {
           opacity: 1;
         transform: translateY(0);
         }
        }


section#index {
  background-image: url(./images/bg1.jpg);
  height: 80VH;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
}

.fade-in-text {
  animation: fadeIn linear 7s;
  -webkit-animation: fadeIn linear 7s;
  -moz-animation: fadeIn linear 7s;
  -o-animation: fadeIn linear 7s;
  -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#index h1 {
  font-size: 60px;
  color: #243c54 ;
  letter-spacing: 8px;
}

#index p {
  color: #white;
  font-size: 20px;
  width: 849px;
  text-align: center;
  line-height: 34px;
  font-style: italic;
    margin-bottom: 22px;
}

#index a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  letter-spacing: 5px;
  padding: 26px 52px;
  background-image: url(./images/button.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-size: auto 57px ;
  transition: all .4s;
}

#index a:hover {
  background-position: 43% 57%;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1px;
  padding: 1px 0;
  background-color: #243c54;
}

footer > section {
  width: 18%;
}
